<nav>
    <div class="nav-wrapper navstyle">
        <a href="/" class="brand-logo">The Web Scraper</a>
        <ul class="right hide-on-med-and-down">
            <li><a id="home" class="waves-effect waves-light btn button">New Articles</a></li>

        </ul>
    </div>
</nav>

{{#each articles}} {{#if saved}}
<figure class="storyPanel clearfix">
    <a href="{{link}}" class="pull-right" target="_blank">
        <div class="imgBox">
            <img src="{{img}}" alt="" class="storyImg" height="150">
        </div>
    </a>
    <a href="{{link}}" class="storyLink" target="_blank">
        <h2 class="storyHeadline">{{title}}</h2>
    </a>
    <h6 class="storySummary">{{summary}}</h6>
    <button class="storyButton deleteArticle" id="" data-id="{{_id}}">Delete</button>
    <button class="addNote storyButton" data-toggle="modal" data-target="#noteModal" data-id="{{_id}}">Add Note</button>
</figure>
{{/if}} {{/each}}


<div id="noteModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">Add a note</h4>
            </div>
            <div class="modal-body">
                <input type="text" id="noteTitleEntry" class="noteInput" placeholder="Enter Title">
                <input type="text" id="noteBodyEntry" class="noteInput" placeholder="Enter Body">
                <div id="noteArea"></div>
            </div>
            <div class="modal-footer">
                <h5 class="instructions">Click the note to read it, or X to delete</h5>
                <button type="button" id="submitNote">Save Note</button>
            </div>
        </div>
    </div>
</div> 

<div id="error" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h2>There was an error processing your request. Please try again later.</h2>
            </div>
        </div>
    </div>
</div>